body {
	background-color: #CFCFCF;
	background-image: url( 585031-bluebird.gif );
	background-repeat: no-repeat;
	background-attachment: fixed;
	background-position:50% 25%;
	
	background:#CFCFCF url(585031-bluebird.gif) no-repeat fixed 50% 25%;

	margin: 10% 40% 30% 20%;
		
	margin-top: 100px;
	margin-right: 70px;
	margin-bottom: 50px;
	margin-left: 70px;
	
	margin: 100px 70px 50px 70px;
}

h1 {
	color: #ff0000;
	font: italic small-caps bold 30px arial, sans-sarif;
	background-color: #0f6db4;
	padding: 20px 20px 20px 30px; 
	border: 3px groove yellow;
}

h2 {
	color: #0f6db4;
	text-decoration: overline;
	letter-spacing: 3px;
	background-color: #ff0000;
	padding-left: 10%
	 
}

h3 {
	text-align: center;
	text-transform: capitalize;
}

h4 {
	text-indent: 30px;
	
}

a:link {
	color: blue;
}

a:visited {
	color:green;
}

a:hover {
	color: black;
	font-style: italic;
	letter-spacing: 10px;
	text-decoration: none;
}

p.first_lorem {
	font: 8px Georgia, serif;
}

#first_header {
	color: green;
}

#bill_gates_picture {
	float: left;
	padding-bottom: 50px;
}

span.benefit {
	text-decoration: underline;
}

#franklin_poem {
	color: yellow;
	clear:both;
}